@use './mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.background-form {
    @include flex-align(center, center, row);
    height: 100dvh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    background: #f8f9fa;

    .form-login {
        @include flex-align(center, center);
        position: relative;
        background: #fff;
        padding: 1rem 2rem;
        margin: 0 0.8rem;
        color: #000;
        border-radius: 8px;
        width: 100%;
        max-width: 420px;
        box-shadow: 1px 1px 6px #0000003f;

        @media (width <= 400px) {
            padding: 1rem 1rem;
        }

        .login {
            @include flex-align(center, unset, column);
            width: 100%;
            height: 100%;
            gap: 1rem;

            &__header {
                @include flex-align(start, center);
                flex-direction: column;

                h1 {
                    justify-content: center;
                    color: #000;
                    margin: 0;
                }

                img {
                    @media (width <= 300px) {
                        display: none;
                    }
                }
            }

            &__forgot {
                @include flex-align(unset, unset, column);
            }

            &__registrar {
                text-align: center;
            }
        }
    }
}
