@use './mixin.scss' as *;

.background-form {
    height: 100dvh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    @include flex-align(center, center);
    background: #222222;

    .form-login {
        @include flex-align(center, center);
        background: #fff;
        padding: 1rem 2rem;
        color: #000;
        border-radius: 1rem;
        width: 100%;
        max-width: 420px;
        margin: 20px;
        font-size: 1rem;
        box-shadow: 1px 1px 6px #fff;

        select {
            font-size: 1.2rem;
        }

        .login {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &__input__container {
                @include space-between;
                align-items: center;
            }

            &__header {
                align-items: center;
                display: flex;
                flex-direction: column;

                h1 {
                    justify-content: center;
                    color: #000;
                    margin: 0;
                }
            }

            &__input {
                display: flex;
                flex-direction: column;
                margin: 0.8rem 0;

                i {
                    font-size: 1.2rem;
                }

                input[type='date'] {
                    cursor: pointer;
                }

                input {
                    background: #fff;
                    border: 1px solid #888888;
                    border-radius: 6px;
                    padding: 0.8rem;
                    color: #000;

                    font-size: 1rem;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        outline: 1px solid #000000;
                    }
                }
            }

            &__registrar {
                text-align: center;
            }

            .button-black {
                margin: 1rem 0;
            }

            .password-container {
                @include space-between;
                position: relative;
                border: 1px solid #888888;
                border-radius: 6px;
                padding: 0.5rem;

                &:hover {
                    outline: 1px solid #000000;
                }

                .toggle-password {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    cursor: pointer;
                }

                .password-style {
                    padding: 0 0 0 5px;
                    margin: 0;
                    border: none;
                    outline: none;
                    width: 90%;

                    &:hover {
                        border: none;
                        outline: none;
                    }

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                i {
                    cursor: pointer;
                }
            }
        }

        .create {
            display: flex;
            flex-direction: column;
            min-width: 100%;

            &__title {
                padding: 0;
                text-align: center;
            }
        }

        .list {
            align-items: center;

            &__wrapper {
                width: 100%;
            }
        }
    }
}
