@use '../../../assets/style/mixin.scss' as *;

.header {
    @include flex-align(center, center);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #c2c2c27c;
    box-shadow: 1px 1px 10px #00000046;
    height: 79px;
    width: 100%;

    &__container {
        @include space-between;
        margin: 0 1rem;
        height: 100%;
        width: 1600px;
        align-items: center;
    }

    &__logo {
        @include flex-align(center, center);
    }

    &__title {
        font-weight: 500;
        display: flex;
        font-size: 2rem;
        color: #000;
        margin: 0;
        font-family: 'Rowdies', serif;
        transition: all 0.3s;

        @media (width <= 512px) {
            font-size: 1.8rem;
        }

        span {
            opacity: 0;
            transform: translateY(10px);
            animation: bounce 0.5s ease-out forwards;
        }

        span:nth-child(1) {
            animation-delay: 0.1s;
        }
        span:nth-child(2) {
            animation-delay: 0.2s;
        }

        span:nth-child(3) {
            animation-delay: 0.3s;
        }

        span:nth-child(4) {
            animation-delay: 0.4s;
        }

        span:nth-child(5) {
            animation-delay: 0.5s;
        }

        span:nth-child(6) {
            animation-delay: 0.6s;
        }

        & span:hover {
            cursor: pointer;
            color: rgb(49, 70, 53);
        }
    }

    img {
        width: 80px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(1px 1px 1px #0000002f);
        }
        @media (width <= 380px) {
            display: none;
        }
        @media (width >= 768px) {
            width: 100px;
        }
    }

    &__wrapper-button {
        @include flex-align(center, center);
        gap: 0.8rem;

        i {
            color: #000;
            padding: 3px 6px;
            font-size: 2rem;

            &:hover {
                border-radius: 6px;
                background-color: rgba(197, 197, 197, 0.48);
            }
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: -7px 2px 3px #3f3f3f13;
        height: 100vh;
        z-index: 1000;
        padding: 1rem 0 0 0;
        animation: slow 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

        @keyframes slow {
            0% {
                width: 1%;
            }

            100% {
                width: 70%;
            }
        }

        @media (width >= 1000px) {
            max-width: 20%;
            animation: slow 0.6s forwards;
        }

        i {
            margin-left: 1rem;
            font-size: 1.6rem;

            &:hover {
                border-radius: 6px;
                background-color: rgba(197, 197, 197, 0.48);
            }
        }

        a,
        div {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            text-decoration: none;
            color: #000000;
            padding: 1rem 0;
            font-size: 1rem;
            cursor: pointer;

            i {
                font-size: 1.4rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }

            &:hover {
                background-color: rgba(197, 197, 197, 0.48);
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #00000046;
        z-index: 1000;
        animation: fadeIn 0.3s forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
