@use '../../../assets/style/mixin.scss' as *;

.header {
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #c2c2c27c;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 30px #00000046;

    &__container {
        @include space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;

        @media (width <= 600px) {
            width: 100%;
            padding: 0.5rem 4rem;
            justify-content: center;
            gap: 10px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 2rem;
        color: #000;

        & span:hover {
            cursor: pointer;
            filter: drop-shadow(1px 1px 1px #00000065);
        }
    }

    img {
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(1px 1px 1px #0000002f);
        }
    }

    &__icon {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media (width <= 434px) {
            width: 100%;
            padding: 0 0.5rem;
        }

        .bi {
            color: #000;
            transition: all 0.3s;
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                filter: drop-shadow(1px 1px 1px #000000a2);
            }
        }
    }

    .loggedout {
        color: #5c5c5caf;

        &::after {
            opacity: 0;
            display: flex;
            position: absolute;
            bottom: -50px;
            width: 120px;
            content: 'Você precisa estar logado para agendar!';
            background: #000;
            color: #fff;
            font-size: 0.6rem;
        }
    }
}
