@use '../../../assets/style/mixin.scss' as *;

.header {
    @include flex-align(center, center);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #c2c2c27c;
    box-shadow: 1px 1px 30px #00000046;
    height: 79px;

    &__container {
        @include space-between;
        padding: 0 1rem;
        width: 100%;
        align-items: center;
    }

    &__logo {
        @include flex-align(center, center);
    }

    &__title {
        font-weight: 500;
        display: flex;
        font-size: 2rem;
        color: #000;
        margin: 0;
        font-family: 'Rowdies', serif;

        span {
            opacity: 0;
            transform: translateY(10px);
            animation: bounce 0.5s ease-out forwards;
        }

        span:nth-child(1) {
            animation-delay: 0.1s;
        }
        span:nth-child(2) {
            animation-delay: 0.2s;
        }

        span:nth-child(3) {
            animation-delay: 0.3s;
        }

        span:nth-child(4) {
            animation-delay: 0.4s;
        }

        span:nth-child(5) {
            animation-delay: 0.5s;
        }

        span:nth-child(6) {
            animation-delay: 0.6s;
        }

        & span:hover {
            cursor: pointer;
            color: rgb(49, 70, 53);
        }
    }

    img {
        width: 100px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(1px 1px 1px #0000002f);
        }
    }

    &__wrapper-button {
        @include flex-align(center, center);

        i {
            padding: 3px 6px;
            font-size: 2rem;
            margin: 0 5px;

            &:hover {
                border-radius: 6px;
                background-color: rgba(197, 197, 197, 0.48);
            }
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: -7px 2px 3px #3f3f3f13;
        width: 70%;
        height: 100vh;
        z-index: 1000;
        padding: 1rem 0 0 0;

        i {
            margin-left: 1rem;
            font-size: 2rem;

            &:hover {
                border-radius: 6px;
                background-color: rgba(197, 197, 197, 0.48);
            }
        }

        a,
        div {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            text-decoration: none;
            color: #000000;
            padding: 1rem 0;
            font-size: 1rem;
            cursor: pointer;

            i {
                font-size: 1.4rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }

            &:hover {
                background-color: rgba(197, 197, 197, 0.48);
            }
        }
    }

    .loggedout {
        color: #5c5c5caf;

        &::after {
            opacity: 0;
            display: flex;
            position: absolute;
            bottom: -50px;
            width: 120px;
            content: 'Você precisa estar logado para agendar!';
            background: #000;
            color: #fff;
            font-size: 0.6rem;
        }
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
