@mixin flex-align($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}
