@use '../../../assets/style/mixin.scss' as *;

.background {
    height: 75dvh;
    width: 100vw;

    @media (width >= 1024px) {
        padding: 1rem 0;
        height: 70vh;
        width: 80vw;
        border-radius: 1rem;
    }

    &__image {
        @include flex-align(start, end);
        height: 100%;
        width: 100%;
        filter: drop-shadow(0px 0px 10px #0000004b);
        box-shadow: inset 0px 0px 10px #00000036;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: 0.6s all;

        @media (width >= 1024px) {
            border-radius: 1rem;
        }

        .bg-container {
            display: flex;
            flex-direction: column;
            color: #fff;
            max-width: 500px;
            padding: 1.5rem;

            &__title {
                font-size: 3rem;
                padding: 0;
                margin: 0;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;

                &:hover {
                    text-decoration: underline;
                }
            }

            &__date {
                font-size: 1rem;
                i {
                    margin-left: 0.3rem;
                }
            }
        }

        &:hover {
            box-shadow: inset 0px 0px 400px #0000002c;
        }
    }
}
