@use '../../../assets/style/mixin.scss' as *;

.background {
    height: calc(100dvh - 79px);
    width: 100vw;
    height: 70vw;

    @media (width >= 1024px) {
        padding: 2rem 0;
        height: 70vh;
        width: 80vw;
        border-radius: 1rem;
    }

    &__image {
        @include flex-align(start, end);
        height: 100%;
        width: 100%;
        filter: drop-shadow(3px 3px 20px #0000007c);
        box-shadow: inset 0px 50px 50px #0000007c;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: 0.3s;

        @media (width >= 1024px) {
            border-radius: 1rem;
        }

        .bg-container {
            display: flex;
            flex-direction: column;
            color: #fff;
            max-width: 500px;
            padding: 1.5rem;

            &__title {
                font-size: 1.6rem;
                padding: 0;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;

                &:hover {
                    text-decoration: underline;
                }
            }

            i {
                margin-right: 0.7rem;
            }
        }

        &:hover {
            box-shadow: inset 1px 1px 60px #000;
        }
    }
}
